.x {
    background: rgb(35, 35, 35);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
  }
  
  .x:before {
    content: "X";
    top: 100%;
    left: 108%;
    transform: translate(0, -50%);
    position: absolute;
  }
  